@import "../styles/utils.module.scss";

#_please_wait_wrapper_{
    padding: 1.25rem;
  
._Please_wait {
        font-size: 1rem;
        color: $DARK;

        @media only screen and (min-width: 2501px) {
            font-size: 2rem;
        }

        @media only screen and (min-width: 2201px) and (max-width: 2500px) {
            font-size: 1.75rem;
        }

        @media only screen and (min-width: 1801px) and (max-width: 2200px) {
            font-size: 1.5rem;
        }

        @media only screen and (min-width: 1400px) and (max-width: 1800px) {
            font-size: 1.25rem;
        }

        /* ############################################################# */

        @media only screen and (max-width: 1199px) {
            font-size: 0.9rem;
        }
    }
}
